@charset "utf-8";
/* CSS Document */
.as {
	transition:ease 1s 0s;
	width:100%;
	height:100px;
	color:#3CC;
	background-color:#060
}
.as:hover{
	height:100%;
	background-image:url(DSC08203.jpg);
	background-repeat:no-repeat space;
	background-size:cover;
}
.as:focus{
	height:300px;
}
.ad {
	-webkit-transition: all 4s 0s;
	-moz-transition: all 4s 0s;
	-ms-transition: all 4s 0s;
	-o-transition: all 4s 0s;
	transition: all 4s 0s;
}
